# Python
__pycache__/
*.py[cod]
.venv/
.pytest_cache/
.ruff_cache/

# Outputs
output/
out/
dist/
build/

# Large local references
references/*
!references/README.md
!references/grch38/
!references/grch38/README.md

# OS/editor
.DS_Store
.vscode/

# Local reference symlinks
references/grch38/genome.fa
references/grch38/genome.fa.fai
references/grch38/Homo_sapiens.GRCh38.115.gtf.gz
